<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/forum.css">

    <link href="http://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Вакансии</title>
</head>
<script src="https://kit.fontawesome.com/b3330d82de.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<body>


    <div class="head_div" data-aos="fade-left">
        <div class="head">
            <p style="margin-top: 10px;">
            <h1>Форум о беременности и родах</h1>
            </p>
        </div>
    </div>

    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>


            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-dark me-2"><a id="a"
                        href="file:///C:/Users/User/Desktop/hackaton/login-teachers.html">Войти</a></button>
                <button type="button" class="btn btn-outline-dark"><a id="a"
                        href="file:///C:/Users/User/Desktop/hackaton%20pregnant/html/create_forum_post.html">Создать запись</a></button>
            </div>
        </header>

    </div>

    <div class="container2">
        <div class="conetiner_box">
            <p  style="color: grey;" class="name">Алена Родионова</p>
            <h3 class="title" style="margin-bottom: 20px;">Моя необычная история беременности</h3>
            <div style="text-align: justify;" class="text">Беременность для меня началась чуть меньше месяца назад - именно тогда я узнала о ней. 
                Для меня это было шоком, так как срок мне поставили 18 недель. Как я могла не знать? Да очень просто. 
                Позже я посчитала, что ребенок был зачат аж в феврале! И вот тут пошли мои воспоминания, может какие 
                признаки я вспомню... Но на ум приходит только отсутствие месячных (и то я не считаю это признаком, 
                так как это считалось для меня нормой - извечная проблема) и взбухшая и болезненная грудь. 
                <br><br>
                Все! В начале марта я делала тесты, которые все оказались отрицательными, в начале апреля я пошла в 
                платную клинику опять со своей постоянной проблемой отсутствия месячных; врач меня посмотрела и уверила, 
                что беременности нет. Я естественно облегченно вздохнула. На УЗИ не пошла, просто не могла, так вот вышло.
                <br><br>
                Да и слова гинеколога меня убедили. Далее... Токсикоза не было, ничего похожего даже. И я спокойно жила... 
                Конечно, самое плохое это то, что я курила и бывало пила алкоголь. Все 4 месяца... Узнав о беременности, сразу 
                об этом подумала и сильно испугалась. Меня сразу направили к моему участковому гинекологу и на УЗИ, но нужно 
                было выждать еще две недели, так как мой гинеколог как раз была в отпуске. Эти две недели были очень трудными.
                 Я только и думала о том, как там мой малыш... Я же не знала, что он там... Как он растет... Развивается... Было страшно.

                <br><br>
                И вот наступил день приема и УЗИ. Со страхом и волнением я шла на исследование. Но когда я увидела на мониторе 
                человечка, настоящего, с ручками-ножками, головой, я чуть не расплакалась, потому что и не подозревала какой он
                 у меня там уже большой! По результатам оказалось все в норме, чему я несомненно обрадовалась, а еще в тот день 
                 я сразу узнала пол ребенка - парнишка :-) После УЗИ я поехала в женскую консультацию, встала на учет, выписали 
                 кучу анализов... "Как бы не запутаться?" - думала я... да и до сих пор думаю. Теперь появился новый страх - 
                 ждать результаты анализов. Но я их еще не сдала, через пару дней начну это делать.

                <br><br>
                В итоге сейчас мой срок по УЗИ 20 недель и 2 дня. В данный момент, я нахожусь в состоянии раздражения и стресса.
                Плачу несколько раз в день по любой мелочи. Купила витамины, надеюсь, что помогут... А то эта депрессия совсем 
                меня измучила. Бедный мой парень, как он меня терпит, я не понимаю... Но терпит и ладно. Значит точно нас любит
                :-)
                Еще у меня постоянно отекают и болят ноги, особенно правая. Да-да, именно правая, она с трудом входит в босоножку. 
                Один раз даже правая рука отекла, стало страшно. Побаливает поясница, но не часто, терпимо.
                <br<br>
                Вот такое начало моей истории беременности, надеюсь, что кто-нибудь это прочтет и выскажет мнение. Пожалуйста, 
                только не негативное :)))) А то я щас в таком состоянии, что могу убить, и опять начать нервничать...</div>
            <button type="button" style="width: 100px; margin: 20px;" class="btn btn-outline-dark me-2">Читать</button>
            <div class="data">26.11.2022</div>
        </div>

        <div class="conetiner_box">
            <p  style="color: grey;" class="name">Рита Макарова</p>
            <h3 class="title" style="margin-bottom: 20px;">Срахи и переживания</h3>
            <div style="text-align: justify;" class="text">
                Все! В начале марта я делала тесты, которые все оказались отрицательными, в начале апреля я пошла в 
                платную клинику опять со своей постоянной проблемой отсутствия месячных; врач меня посмотрела и уверила, 
                что беременности нет. Я естественно облегченно вздохнула. На УЗИ не пошла, просто не могла, так вот вышло.
                <br><br>
                Да и слова гинеколога меня убедили. Далее... Токсикоза не было, ничего похожего даже. И я спокойно жила... 
                Конечно, самое плохое это то, что я курила и бывало пила алкоголь. Все 4 месяца... Узнав о беременности, сразу 
                об этом подумала и сильно испугалась. Меня сразу направили к моему участковому гинекологу и на УЗИ, но нужно 
                было выждать еще две недели, так как мой гинеколог как раз была в отпуске. Эти две недели были очень трудными.
                 Я только и думала о том, как там мой малыш... Я же не знала, что он там... Как он растет... Развивается... Было страшно.

                <br><br>
                И вот наступил день приема и УЗИ. Со страхом и волнением я шла на исследование. Но когда я увидела на мониторе 
                человечка, настоящего, с ручками-ножками, головой, я чуть не расплакалась, потому что и не подозревала какой он
                 у меня там уже большой! По результатам оказалось все в норме, чему я несомненно обрадовалась, а еще в тот день 
                 я сразу узнала пол ребенка - парнишка :-) После УЗИ я поехала в женскую консультацию, встала на учет, выписали 
                 кучу анализов... "Как бы не запутаться?" - думала я... да и до сих пор думаю. Теперь появился новый страх - 
                 ждать результаты анализов. Но я их еще не сдала, через пару дней начну это делать.

                <br><br>
                В итоге сейчас мой срок по УЗИ 20 недель и 2 дня. В данный момент, я нахожусь в состоянии раздражения и стресса.
                Плачу несколько раз в день по любой мелочи. Купила витамины, надеюсь, что помогут... А то эта депрессия совсем 
                меня измучила. Бедный мой парень, как он меня терпит, я не понимаю... Но терпит и ладно. Значит точно нас любит
                :-)
                Еще у меня постоянно отекают и болят ноги, особенно правая. Да-да, именно правая, она с трудом входит в босоножку. 
                Один раз даже правая рука отекла, стало страшно. Побаливает поясница, но не часто, терпимо.
                </div>
            <button type="button" style="width: 100px; margin: 20px;" class="btn btn-outline-dark me-2">Читать</button>
            <div class="data">25.11.2022</div>
        </div>

        <div class="conetiner_box">
            <p  style="color: grey;" class="name">Нина Мухтарова</p>
            <h3 class="title" style="margin-bottom: 20px;">Интересно о родах</h3>
            <div style="text-align: justify;" class="text">
                Ещё до планирования беременности я прочитала на Бэбиблоге наверное все посты в сообществе «Естественные роды». 
                Думала, что когда-нибудь я тоже поделюсь своей счастливой историей естественных родов... Но моим планам не 
                суждено было сбыться.
                <br><br>
                Да и слова гинеколога меня убедили. Далее... Токсикоза не было, ничего похожего даже. И я спокойно жила... 
                Конечно, самое плохое это то, что я курила и бывало пила алкоголь. Все 4 месяца... Узнав о беременности, сразу 
                об этом подумала и сильно испугалась. Меня сразу направили к моему участковому гинекологу и на УЗИ, но нужно 
                было выждать еще две недели, так как мой гинеколог как раз была в отпуске. Эти две недели были очень трудными.
                Я только и думала о том, как там мой малыш... Я же не знала, что он там... Как он растет... Развивается... Было страшно.

                <br><br>
                Во время операции ребёнку порезали скальпелем лоб! Я себя так плохо чувствовала, что не было сил выяснять у врачей
                как так могло произойти. О чём потом жалела. Появилось чувство вины перед ребёнком, глубокая печаль из-за 
                того, что я ничего не могла ничего сделать, негодование и обида, ведь передо мной никто даже не извинился.

                <br><br>
                Второй шрам на ножке появился, когда сыну было 4 года. Во время прогулки в парке он упал с велосипеда, и 
                ножка попала в колесо… Вывих лодыжки, рваные раны, кровь... Я очень испугалась! Сын плакал недолго, 
                кровотечение тоже вскоре остановилось. Мы вызвали скорую. Нас привезли в травмпункт и быстро приняли. 
                Травматолог даже подарил Артёму маленькую машинку. Ребёнок обрадовался и немного отвлёкся. Ранки нам 
                обработали, заклеили большим пластырем и наложили компрессионный бинт.
                </div>
            <button type="button" style="width: 100px; margin: 20px;" class="btn btn-outline-dark me-2">Читать</button>
            <div class="data">25.11.2022</div>
        </div>
    </div>


    <script src="http://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>