<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/library.css">
    <link href="http://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Библиотека для беременных | мастер-классы | литература</title>
</head>

    <script src="https://kit.fontawesome.com/b3330d82de.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<body>
  <section class="showcase">
    <header class="head-video">
      <h5 class="logo">Library</h5>
      <div class="toggle"></div>
    </header>
    <video src="./media/production ID_4864788.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <div id="size1">Библиотека для будущих Мам</div> 
      <div id="size2">собранная с заботой</div>
      <p>Мы собрали для вас всю самую необходимую и интересную литературу<br><br>
        Не выходя из дома вы можете узнать полезную информацию для вас и вашего малыша
    </p>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
  </section>
  <div class="menu">
    <ul>
      <li><a href="file:///C:/Users/User/Desktop/hackaton%20pregnant/html/base.html">На главную</a></li>
      <li><a href="#catalog">Меню</a></li>
      <li><a href="file:///C:/Users/User/Desktop/online%20shop%20oleg/html/admin.html">Клиники</a></li>
      <li><a href="">Врачи</a></li>
      <li><a href="">Няни</a></li>
      <li><a href="file:///C:/Users/User/Desktop/hackaton%20pregnant/html/shop.html">Магазин</a></li>
    </ul>
  </div>
    
  
  <div>
    <header id="header" class="d-flex align-items-center justify-content-center justify-content-md-around py-3 mb-4 border-bottom">
      <div id="catalog">Каталог</div>

      <ul id="font" class="nav col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" id="link" class="nav-link px-2">Художественная</a></li>
        <li><a href="#" id="link" class="nav-link px-2">Статьи</a></li>
        <li><a href="#" id="link" class="nav-link px-2">Научная</a></li>
        <li><a href="#" id="link" class="nav-link px-2">Психология</a></li>
        <li><a href="#" id="link" class="nav-link px-2">Полезная</a></li>
      </ul>

      <div class="search">
        <form role="search">
          <input type="search" class="control" placeholder="Поиск..." aria-label="Search">
        </form>
      </div>
    </header>
  </div>


  

  <div class="tovar_list">

    <div class="tovar-box">
        <img src="https://cdnmyslo.ru/Contents/d5/65/ea61-f61a-4967-a156-e529e4e5cbf1/4e5789d5-30cd-45b0-a2dd-a8edc5479345.jpg" class="img" alt="не найдена">
        <div>«Питание в начале жизни.<br><br> От беременности до 3-х лет»,<br><br> 16+ <br><br><br><br>
            <a class="a" href="https://iknigi.net/avtor-kollektiv-avtorov/147701-pitanie-v-nachale-zhizni-ot-beremennosti-do-3-let-kollektiv-avtorov/read/page-1.html">Читать</a>
        </div>
    </div>
      
    <div class="tovar-box">
        <img src="https://cdnmyslo.ru/Contents/d5/65/ea61-f61a-4967-a156-e529e4e5cbf1/8b7762d7-1a5f-4ced-8830-c4f6b9262dba.jpg" class="img" alt="не найдена">
        <div>«Федиатрия.<br><br> Нетревожный подход к ребенку», <br><br> 12+ <br><br><br><br>
            <a class="a" href="https://knigoobzor.info/read/5555/">Читать</a>
        </div>
    </div>
      
    <div class="tovar-box">
        <img src="https://cdnmyslo.ru/Contents/d5/65/ea61-f61a-4967-a156-e529e4e5cbf1/8c0d8880-e73e-40d6-b962-11f5ebc5e51f.jpg" class="img" alt="не найдена">
        <div>«280 дней до вашего рождения.<br><br> Репортаж о том, что вы забыли»,<br><br> 12+ <br><br><br><br>
            <a class="a" href="https://flibusta.su/book/2178-280-dney-do-vashego-rozhdeniya-reportazh-o-tom-chto-vyi-zabyili-nahody/read/">Читать</a>
        </div>
    </div>
    
    <div class="tovar-box">
        <img src="https://cdnmyslo.ru/Contents/d5/65/ea61-f61a-4967-a156-e529e4e5cbf1/4797bc69-1fe0-4c9e-bde3-f3b0e935c230.jpg" class="img" alt="не найдена">
        <div>«Тайная опора:<br><br>привязанность в жизни ребенка»<br><br> 12+ <br><br><br><br>
            <a class="a" href="https://kudrovo.vsevobr.ru/images/articles/2018/biblioteka/novoe/_%D0%9F%D0%B5%D1%82%D1%80%D0%B0%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%20%D0%9B_%D0%92_,%20%D0%A2%D0%B0%D0%B9%D0%BD%D0%B0%D1%8F%20%D0%BE%D0%BF%D0%BE%D1%80%D0%B0.pdf">Читать</a>
        </div>
    </div>
    
    <div class="tovar-box">
        <img src="https://ir.ozone.ru/s3/multimedia-x/wc1000/6443694237.jpg" class="img" alt="не найдена">
        <div>Беременность, роды, <br><br> первые месяцы жизни малыша<br><br> 16+ <br><br><br><br>
            <a class="a" href="https://iknigi.net/avtor-kollektiv-avtorov/147701-pitanie-v-nachale-zhizni-ot-beremennosti-do-3-let-kollektiv-avtorov/read/page-1.html">Читать</a>
        </div>
    </div>
   
    <div class="tovar-box">
        <img src="https://ir.ozone.ru/s3/multimedia-o/wc1000/6056718852.jpg" class="img" alt="не найдена">
        <div>«Рождение без насилия»,<br><br> 16+ <br><br><br><br>
            <a class="a" href="https://iknigi.net/avtor-kollektiv-avtorov/147701-pitanie-v-nachale-zhizni-ot-beremennosti-do-3-let-kollektiv-avtorov/read/page-1.html">Читать</a>
        </div>
    </div>

    <div class="tovar-box">
        <img src="https://n1s1.elle.ru/53/6a/c0/536ac03899d79e1cd533e436d3c70023/728x1045_1_e9977df3c1b4e43cd50cc0aad7f80d3e@836x1200_0xac120003_21376836461565098320.jpg" class="img" alt="не найдена">
        <div>«Самая важная книга <br><br> для родителей»,<br><br> 16+ <br><br><br><br>
            <a class="a" href="https://iknigi.net/avtor-kollektiv-avtorov/147701-pitanie-v-nachale-zhizni-ot-beremennosti-do-3-let-kollektiv-avtorov/read/page-1.html">Читать</a>
        </div>
    </div>

    <div class="tovar-box">
        <img src="https://n1s1.elle.ru/17/cc/a5/17cca53abfaa44f2e931fbd24088fa19/728x922_1_f76068373bdfcf2e68796d6539391bb9@1263x1600_0xac120003_7497872471565098357.jpg" class="img" alt="не найдена">
        <div>«Большая книга <br><br> ленивой мамы»,<br><br> 16+ <br><br><br><br>
            <a class="a" href="https://iknigi.net/avtor-kollektiv-avtorov/147701-pitanie-v-nachale-zhizni-ot-beremennosti-do-3-let-kollektiv-avtorov/read/page-1.html">Читать</a>
        </div>
    </div>


    <div class="tovar-box">
        <img src="https://cdn.f.kz/prod/2351/2350708_550.jpg" class="img" alt="не найдена">
        <div>«Новорождённая мама. <br><br> Готова быть счастливой»,<br><br> 16+ <br><br><br><br>
            <a class="a" href="https://iknigi.net/avtor-kollektiv-avtorov/147701-pitanie-v-nachale-zhizni-ot-beremennosti-do-3-let-kollektiv-avtorov/read/page-1.html">Читать</a>
        </div>
    </div>

    <div class="tovar-box">
        <img src="https://cdn.f.kz/prod/2354/2353959_550.jpg" class="img" alt="не найдена">
        <div>«Если у вас второй ребенок.<br><br>Как правильно подготовиться»,<br><br> 16+ <br><br><br><br>
            <a class="a" href="https://iknigi.net/avtor-kollektiv-avtorov/147701-pitanie-v-nachale-zhizni-ot-beremennosti-do-3-let-kollektiv-avtorov/read/page-1.html">Читать</a>
        </div>
    </div>

    <div class="tovar-box">
        <img src="https://cdn.f.kz/prod/1423/1422840_550.jpg" class="img" alt="не найдена">
        <div>«На пути к счастливому  <br><br> материнству»,<br><br> 16+ <br><br><br><br>
            <a class="a" href="https://iknigi.net/avtor-kollektiv-avtorov/147701-pitanie-v-nachale-zhizni-ot-beremennosti-do-3-let-kollektiv-avtorov/read/page-1.html">Читать</a>
        </div>
    </div>

    <div class="tovar-box">
        <img src="https://cdn.f.kz/prod/2557/2556483_550.jpg" class="img" alt="не найдена">
        <div>«Книга-гид по уходу за<br><br> малышом от 0 до 3 лету»,<br><br> 16+ <br><br><br><br>
            <a class="a" href="https://iknigi.net/avtor-kollektiv-avtorov/147701-pitanie-v-nachale-zhizni-ot-beremennosti-do-3-let-kollektiv-avtorov/read/page-1.html">Читать</a>
        </div>
    </div>
  
  </div>


  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Контакты</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Помощь</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">О нас</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Company</p>
    </footer>
  </div>




  <script>
        const menuToggle = document.querySelector('.toggle');
        const showcase = document.querySelector('.showcase');

        menuToggle.addEventListener('click', () => {
            menuToggle.classList.toggle('active');
            showcase.classList.toggle('active');
        })
    </script>
    <script src="http://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>